
.home-header{
   align-items: center;
}

.btn-cls{
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 600;

}
.left-side {
    margin-left: 15px;
}
.right-side{
    margin-left: 100px;
}
.right-side img{
    height: 500px;
    
}